<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="brand" src="assets/images/LMW_RED@3x.png" height="30px" width="30px"/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
              <form class="uk-search uk-search-default">
                  <span uk-search-icon></span>
                  <input class="uk-search-input" type="search" placeholder="Search" style="border-radius: 20px;">
              </form>
          </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 hire" href="#!">For Employers</a>
        </li>
        <li class="nav-item ms-2">
          <a class="btn btn-primary btn-rounded" href="#!">Find Work</a>
        </li>
        <li class="nav-item ms-3">
          <a class="btn btn-outline-primary btn-rounded" href="#!">Hire Talent</a>
        </li>
      </ul>
    </div>
  </div>
</nav>