<app-header></app-header>
<section class="hero is-lg is-success">
    <div class="hero-body d-flex justify-content-center align-items-center h-100">
        <div class="container">
          <div class="p-5 text-center">
            <h1 class="mb-3 text-white">Now it is so easy to get a Job, anywhere, anytime</h1>
            <h3 class="mt-0 text-white">Forget the old rules. You can have the best people. Right now. Right here.</h3>
            <a class="btn text-white btn-lg btn-rounded btn-outline-danger" href="" role="button">Find Work</a>
            <a class="btn text-white btn-lg btn-rounded btn-danger ms-3" href="" role="button">Post Work</a>
          </div>
        </div>
    </div>
</section>

<div class="card bg-dark text-white" style="margin-left: 2%; margin-top: 2%; margin-right: 2%; margin-bottom: 2%;">
  <img src="assets/images/landing_page/working_guy_cropped.jpeg"  height="500px" class="card-img" alt="Stony Beach"/>
  <div class="card-img-overlay">
    <h3 class="card-title text-white"><strong>For clients</strong></h3>
    <p class="card-text display-4 text-white">
      <strong>
        Find Talent<br/> your way
      </strong>
    </p>
    <h4 class="card-text text-white">Work with the largest network of independent professionals and <br/>get things done—from quick turnarounds to big transformations.</h4>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-white"><strong>Post a work <br/> and hire a pro</strong></h2>
              <a class="card-text text-white">
                Talent Marketplace <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-white"><strong>Browse and <br/> get your work</strong></h2>
              <a class="card-text text-white">
                Browse <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-white"><strong>Let us find <br/> the right talent</strong></h2>
              <a class="card-text text-white">
                Contact us <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>